@charset "utf-8";
/* CSS Document */
	
/*----------------------------------------------------------------Tables Style----------------------------------------------------------------------------------------*/																		

table.blue{
	width: 100%;
	height: 100%;
	border-width: 1px;
	border-spacing: 1px;
	border-style: outset;
	border-color: darkred;
	background-color: darkgray;
	border-collapse: separate;
}
table.blue th{
	color: #ed0000;
	border-width: 1px;
	padding: 3px;
	border-style: inset;
	border-color: gray;
	background-color: lightgray;
	text-align: center;
}
table.blue td.IT{
	color: black;
	border-width: 1px;
	padding: 3px;
	border-style: inset;
	border-color: gray;
	background-color: lightcyan;
	text-align: center;
}
table.blue td.Network{
	color: black;
	border-width: 1px;
	padding: 3px;
	border-style: inset;
	border-color: gray;
	background-color: lightyellow;
	text-align: center;
}
table.blue td{
	color: black;
	border-width: 1px;
	padding: 3px;
	border-style: inset;
	border-color: gray;
	background-color: #fffff0;
	text-align: center;
}
table.blue td.Critical{
	background-color: #ed0000;
}
table.blue td.Extensive{
	background-color: #ed0000;
}
table.blue td.Major{
	background-color: orange;
}
table.blue td.Moderate{
	background-color: orange;
}
table.blue td.Minor{
	background-color: yellow;
}
table.blue td.left{
	color: black;
	border-width: 1px;
	padding: 3px;
	border-style: inset;
	border-color: gray;
	background-color: #fffff0;
	text-align: left;
}